@use '../util' as *;

.character {
  &__card {
    height: 50vh;
    width:54vw;
    max-width: rem(230);
    padding: 1vh 1vw;
    font-size: rem(25);
    border-radius: rem(14);
    position: relative;
    background: #231d24;
    text-align: center;
    border: rem(1) solid $card-border;
    box-shadow: inset 0px 0px rem(6) rem(2) rgba(100,100,100,0.2),
    0px 0px rem(10) rgba(117,182,214,0.2);

    @include breakpoints_up(rem(380)) {
      height:45vh;
    }

    @include for-tablet-portrait-up {
      height:65vh;
    }

    @include for-tablet-landscape-up {
      border: 0.2rem solid $card-border;
      height:75vh;
      width:37vw;
      max-width: rem(250);
    }

    @include for-desktop-up {
      height:68vh;
    }
  }

  &__name {
    margin: 1vh 0;
    width:100%;
    letter-spacing: 0.08em;
    font-size: 90%;

    @include for-tablet-portrait-up  {
      margin: 2vh 0;
      font-size: 100%;
    }
  }

  &__avatar {
    width: 15vh;
    height: 15vh;
    border: rem(2) solid $card-border;
    max-width:100%;
    opacity: 0.8;
    border-radius: rem(10);
    background-color: rgba(0, 7, 33, 0.8);
    
    @include for-tablet-portrait-up  {
      width: 25vh;
      height: 25vh;
    }
  }

  &__health {
    font-size:1.1rem;
    font-weight: normal;
    width:90%;
    text-align: left;
    margin: 1vh 5%;
    color:#ccc;
    letter-spacing: 0.03em;

    @include for-tablet-portrait-up  {
      margin: 2vh 5%;
    }

    & b {
      font-weight: bold;
    }
  }

  &__damage {
    color: red;
    margin-left: rem(10);
    font-size: 14px;
    
    @include for-tablet-portrait-up  {
      margin-left: rem(20);
      font-size: 18px;
    }
  }

  &__health-bar-outer {
    background: #171217;
    height: 1vh;
    width:90%;
    margin: 0 5%;
    border-radius: rem(2);
  }

  &__health-bar-inner {
    background: #466d34;
    height: 100%;
    border-radius: rem(2);

    &.danger {
      background:#d1435f;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-evenly;
    margin: rem(15) 0;
  }

  @include actions(double-attack);
  @include actions(shield);

  &__dice-container {
    width:100%;
    height: 20%;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    background: $card-border;
    @include displayFlexCenter();
    gap: .7rem;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;

    
    @include breakpoints_up(rem(550)) {
        height: 22%;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
  }
}