@use '../util' as *;

.end-game{
  margin-top: 25%;
  text-align: center;

  @include breakpoints_up(rem(550)) {
    margin-top: 5%;
    font-size: rem(30);
  }
}

.end-emoji{
  font-size: rem(80);

  @include breakpoints_up(rem(550)) {
    margin: rem(30);
    font-size: rem(180);
  }
}